.todolist{
    width: 40%;
    background:  #2d2d2d;
    box-shadow:5px 5px 5px #9a9999;
    margin: 0 auto;
    border-radius: 10px;
}
input{
    border: none;
    border-radius: 5px;

}
::placeholder{
    font-size: large;
    color: orangered;
}
.addbtn{
    background-color: green;
    border: none;
    border-radius: 5px;
}

.task_area{
    width: 50%;
    background-color: purple;
    border-radius: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    margin-left: 150px;
    justify-content: space-between;
    padding: 5px 10px;
    
}

.R_btn{
    border: none;
    border-radius: 3px;
    background-color: orangered;
    color: white;
}
